@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Vidaloka:400italic,400);

html {
/* background-color: #F5F1DC; */
}
body {
	font-family: Lora, serif;
	margin: 0;
	padding: 0 0 2em 0;
	font-size: 16px;
}
code, pre {
	font-family: "Source Code Pro";
}

page {
	display: block;
	padding-left: 4cm;
	width: 640px;
	padding-right: 2cm;
}

footer {
	display: block;
	text-align: right;
	font-size: 80%;
	padding: 1em;
	color: #666;
}
footer a {
	color: black;
	text-decoration: none;
}

blockquote {
	font-style: italic;
	text-align: center;
	margin: 0.4em 2em;
}
blockquote p { margin: 0; }

dt { font-weight: bold; }

content {
	display: block;
	padding: 0em;
	position: relative;
}
content p {
	line-height: 1.4; 
	clear: both;
}
content p strong {
	font-family: Vidaloka; 
	text-transform: lowercase;
	font-weight: normal;
}
content pre {
	border-radius: 2px;
	padding: 10px;
	background-color: #eee8d5;
	color: white;
	tab-size: 4;
	-moz-tab-size: 4;
}
content pre code {
	color: black;
}

content a[href^="#"] {
	text-decoration: none;
}

content h1, content h2, content h3, content h4 {
	font-family: Vidaloka, serif; color: black;
}
content h1 { font-size: 2.4em; text-transform: uppercase; font-weight: normal; letter-spacing: -0.05em; font-family: Vidaloka, serif; word-spacing: 0.3em; }
content h1 em { font-style: normal; font-size: 180%; font-weight: bold; text-transform: lowercase; color: black; letter-spacing: 3px; }
content h2 { font-size: 1.75em; }
content h3 { font-size: 1.5em; }
content h4 { font-size: 1.25em; }
content h5 { font-size: 1em; margin-bottom: 0; }
content h2 { margin-top: 3em; }
content h3 { margin-top: 2em; }

table.encoding { font-family: "Source Code Pro"; empty-cells: hide; border-spacing: 1px 4px; border-collapse: separate; }
table.encoding th {  }
table.encoding td.byte { border: 1px solid black; }
table.encoding td.byte:first-letter { font-weight: bold; }
table.encoding td.byte.last:first-letter { font-weight:bold; }

table.big { font-size: 28px; vertical-align: middle; border-spacing: 0; }
table.big td { text-align: center; background-color: white; padding: 0 0.5em }

div.page { width: 512px; border: 1px solid black; border-width: 0 0 1px 1px; float: left; }
div.page u, div.page i { display: block; width: 15px; height: 15px; float: left; border: 1px solid black; border-width: 1px 1px 0 0; margin: 0; text-align: center; vertical-align: middle; line-height: 15px; font-size: 15px; font-family: "Source Code Pro"; font-style: normal; }
div.page u, u.region { background-color: white; }
div.page i, i.region { background: linear-gradient(-45deg, white 25%, black 25%, black 50%, white 50%, white 75%, black 75%); 
		background-size: 4px 4px;
}
div.page i.ascii, i.region.ascii { color: white; font-weight: bold; }
.page .byte1 {  }
.region { display: inline-block; width: 15px; height: 15px; text-align: center; vertical-align: middle; line-height: 15px; font-size: 15px; font-family: "Source Code Pro"; font-style: normal; border: 1px solid black; }

