@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400,600,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic);

html {
background-color: #F5F1DC;
}
body {
	font-family: Lora, serif;
	margin: 0;
	padding: 0 0 2em 0;
	color: #333;
	font-size: 16px;
}
code, pre {
	font-family: "Source Code Pro";
}

page {
	display: block;
	padding-left: 4cm;
	width: 640px;
	padding-right: 2cm;
}

footer {
	display: block;
	text-align: right;
	font-size: 80%;
	padding: 1em;
}

content {
	display: block;
	padding: 0em;
	position: relative;
}
content p {
	line-height: 1.4; 
}
content p strong {
	font-family: "Source Sans Pro"; 
}
content pre {
	border-radius: 2px;
	padding: 10px;
	background-color: #eee8d5;
	color: white;
	tab-size: 4;
	-moz-tab-size: 4;
}
content pre code {
	color: black;
}

content a[href^="#"] {
	text-decoration: none;
}

content h1, content h2, content h3, content h4 {
	font-family: "Lora"; color: black;
}
content h1 { font-size: 2.4em; text-transform: uppercase; font-weight: normal; letter-spacing: -0.05em; font-family: "Source Code Pro"; color: #79443B; }
content h1 em { font-style: normal; font-size: 180%; font-weight: bold; text-transform: lowercase; color: black; }
content h2 { font-size: 1.5em; }
content h3 { font-size: 1.25em; }
content h4 { font-size: 1.125em; }
content h5 { font-size: 1em; margin-bottom: 0; }
content h2 { margin-top: 3em; }
content h3 { margin-top: 2em; }

footer { font-family: "Source Sans Pro"; }

table.encoding { font-family: "Source Code Pro"; empty-cells: hide; border-spacing: 0 4px; border-collapse: separate; }
table.encoding th { font-family: "Source Sans Pro"; }
table.encoding td.byte { background-color: white; border: 1px solid #E3DAC9; }
table.encoding td.byte:first-letter { color: #79443B; }

table.big { font-size: 42px; vertical-align: middle; width: 35%; border-spacing: 0; }
table.big td { text-align: center; background-color: white; }

div.page { width: 512px; }
div.page u, div.page i { display: block; width: 15px; height: 15px; float: left; margin: 1px 1px 0 0; text-align: center; vertical-align: middle; line-height: 15px; font-size: 15px; font-family: "Source Code Pro"; font-style: normal; }
div.page u, u.block { background-color: #E3DAC9; }
div.page i, i.block { background-color: white; }
.ascii { color: #79443B; }
.page .byte1 {  }
.block { display: inline-block; width: 15px; height: 15px; text-align: center; vertical-align: middle; line-height: 15px; font-size: 15px; font-family: "Source Code Pro"; font-style: normal; }

