<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
	<link href="none.css" media="all" rel="stylesheet" type="text/css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  </head>
  <body>
	<page>
		<content>{{content}}</content>
		<footer>&copy; 2014 <a href="http://jbee.github.io/">Jan Bernitt</a></br> 
		fonts <a href="http://www.fontsquirrel.com/fonts/vidaloka">Vidaloka</a> &amp; <a href="http://www.cyreal.org/2012/07/lora/">Lora</a> by <a href="http://www.cyreal.org/">Cyreal</a></footer>
	</page>
  </body>
</html>
